/* 全体の設定 */
* {
  box-sizing: border-box;
  font-family: Arial;
}

html {
  width: 100%;
}

body {
  width: 100%;
}

a, p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 20px;
}

.container {
  width: 95%;
}
